<h1>New Article</h1>

<%= form_with model: @article, local: true, html: { multipart: true } do |form| %>
  <% if @article.errors.any? %>
    <div>
      <h2>There were some errors with your submission:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% if @article.errors[:title].any? %>
      <div class="error"><%= @article.errors[:title].join(", ") %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% if @article.errors[:body].any? %>
      <div class="error"><%= @article.errors[:body].join(", ") %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <% if @article.errors[:image].any? %>
      <div class="error"><%= @article.errors[:image].join(", ") %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Create Article" %>
  </div>
<% end %>

<%= link_to "Back", articles_path %>
